.vs
out
build
build-debug
CMakeSettings.json
/enet
/cmake/sdl2
/cmake/sdl2-image
/cmake/sdl2-mixer
/cmake/sdl2-ttf
*.vcxproj.user
CMakeFiles/
Makefile
cmake_install.cmake
CMakeCache.txt
*.a
cmake_install.cmake
/libs/libsmacker/smk2avi
/libs/libsmacker/driver
gamefiles/*
!gamefiles/*.md
.vscode
!.vscode/extensions.json
.DS_Store
# --- Lizenzschutz: Spieldateien, HD-Grafiken und KI-Modelle nie committen (siehe ASSETS.md) ---
*.[gG][lL][iI]
*.[gG][lL][jJ]
*.[sS][mM][kK]
*.[lL][bB][mM]
*.[pP][oO][lL]
*.[mM][cC][fF]
*.[rR][aA][wW]
*.[rR][eE][sS]
*.pth
*.pt
*.ckpt
*.safetensors
*.onnx
hd/
hd_debug/
hd_assets/
assets_export/
upscaled/

# Python
__pycache__/
